h1 {
  color: red;
  text-align: center;
}
td {
  text-align: center;
}
.tieude {
  color: tomato;
  font-size: 25pt;
  top-margin: 18pt;
}
.header{
  background-color: lightgray;
  height: 50px;
}
.menu{
  background-color: gray;
  padding: 10px;
}
.content{
  background-color: white;
  height: 350px;
}
